@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 246	238	227;
    --background-end-rgb: 246	238	227;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background-start-rgb: 246	238	227;
    --background-end-rgb: 246	238	227;
  }
}
.link{
  text-align: center;
  align-content: center;
  align-items: center;
}

html{
  background:  rgb(var(--background-end-rgb));

}
.font{
  font-family: 'Playfair Display', serif;
}
